{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid bg-3" style="margin-left: 15%;">
  <h1>Ratatouille Home</h1>
  <p>Welcome to Ratatouille, A Framework For Router Packet Capturing and Analysis by InfoSecHacker <em></em>!</p>
  <h2>Summary</h2>
  <p>Counts of All Data:</p>
  <ul>
    <li><strong>Country:</strong> {{ country_all }}</li>
    <li><strong>Date:</strong> {{ date_all }}</li>
    <li><strong>IP's:</strong> {{ ip_all }}</li>
    <li><strong>Credential:</strong> {{ cred_all }}</li>
    <li><strong>Files:</strong> {{ file_all }}</li>
    <li><strong>Voip:</strong> {{ voip_all }}</li>
    <li><strong>Urls:</strong> {{ url_all }}</li>
  </ul>
</div>
{% endblock %}