{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid bg-3 " style="margin-left: 15%;">
	<input  class="btn btn-dark" style="position: fixed;" type=button value="Back" onClick="javascript:history.go(-1);">
	<br>
	<h1>{% if source == 'cred' %} Credentials {% endif %}
			{% if source == 'req' %} Http Requests and Response {% endif %}
			{% if source == 'file' %} Files {% endif %}
			{% if source == 'voip' %} Media(Voip,Video) {% endif %}
			{% if source == 'dns' %} Dns {% endif %}
			{% if source == 'graph' %} IP Link {% endif %}
	</h1>
{% if source == 'cred' %}
	{% for cred_ip in cred_list_ip %}
		{% for cred_date in cred_list_date %}
			{% for ip in ip_list %}
				{% if date.id == cred_date.date_id %}
					{% if ip.id == cred_ip.ip_id  %}
						<li>
							<a href="{% url 'data' source=source date=date.date ip=ip.ip %}"> 
									{{ ip.ip }} (
										{% for country in country_list %}
												{% if ip.country_id == country.id %}
													{{ country.country_name }}
												{% endif %}
										{% endfor %}
									)
							</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% if source == 'req' %}
	{% for url_ip in url_list_ip %}
		{% for url_date in url_list_date %}
			{% for ip in ip_list %}
				{% if date.id == url_date.date_id %}
					{% if ip.id == url_ip.ip_id  %}
						<li>
							<a href="{% url 'data' source=source date=date.date ip=ip.ip %}"> 
									{{ ip.ip }} 
									(
										{% for country in country_list %}
												{% if ip.country_id == country.id %}
													{{ country.country_name }}
												{% endif %}
										{% endfor %}
									)
							</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% if source == 'file' %}
	{% for file_ip in file_list_ip %}
		{% for file_date in file_list_date %}
			{% for ip in ip_list %}
				{% if date.id == file_date.date_id %}
					{% if ip.id == file_ip.ip_id  %}
						<li>
							<a href="{% url 'data' source=source date=date.date ip=ip.ip %}"> 
									{{ ip.ip }} 
									(
										{% for country in country_list %}
												{% if ip.country_id == country.id %}
													{{ country.country_name }}
												{% endif %}
										{% endfor %}
									)
							</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% if source == 'voip' %}
	{% for voip_ip in voip_list_ip %}
		{% for voip_date in voip_list_date %}
			{% for ip in ip_list %}
				{% if date.id == voip_date.date_id %}
					{% if ip.id == voip_ip.ip_id  %}
						<li>
							<a href="{% url 'data' source=source date=date.date ip=ip.ip %}"> 
									{{ ip.ip }} 
									(
										{% for country in country_list %}
												{% if ip.country_id == country.id %}
													{{ country.country_name }}
												{% endif %}
										{% endfor %}
									)
							</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% if source == 'dns' %}
	{% for dns_ip in dns_list_ip %}
		{% for dns_date in dns_list_date %}
			{% for ip in ip_list %}
				{% if date.id == dns_date.date_id %}
					{% if ip.id == dns_ip.ip_id  %}
						<li>
							<a href="{% url 'data' source=source date=date.date ip=ip.ip %}"> 
									{{ ip.ip }} 
									(
										{% for country in country_list %}
												{% if ip.country_id == country.id %}
													{{ country.country_name }}
												{% endif %}
										{% endfor %}
									)
							</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% if source == 'graph' %}
	{% for graph_ip in graph_list_ip %}
		{% for ip in ip_list %}
			{% for graph_date in graph_list_date %}
				{% if date.id == graph_date.date_id %}
					{% if ip.id == graph_ip.ip_id  %}
						
						{% for graph in graph_list %}
							{% if graph.ip_id == graph_ip.ip_id and graph.date_id == date.id %}
								<li><a href="{% url 'graph_viewer' source=source date=date.date ip=ip.ip ip_ids=graph.id %}"> {{ ip.ip }}

													(
														{% for country in country_list %}
																{% if ip.country_id == country.id %}
																	{{ country.country_name }}
																{% endif %}
														{% endfor %}
													)
									</a></li>					

							{% endif %}
						{% endfor %}
									 
													
						
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
</div>
{% endblock %}