{% extends "base_generic.html" %}

{% block content%}
<div class="container-fluid bg-3 "style="margin-left: 15%;">
	<input  class="btn btn-dark" type=button value="Back" onClick="javascript:history.go(-1);">
	<h1>{% if source == 'cred' %} Credentials {% endif %}
			{% if source == 'req' %} Http Requests and Response {% endif %}
			{% if source == 'file' %} Files {% endif %}
			{% if source == 'voip' %} Media(Voip,Video) {% endif %} </h1>

	{% if source == 'file' %}
	<iframe src="{{ file_path }}/{{ file.file_name }}" width="80%" height="500px" style="align-items: center;">
	</iframe>
	{% endif %}
	{% if src == 'voip' %}
	<video src="{{ voip_path }}/{{ voip.file_name }}" controls width="80%" height="200px" style="align-items: center;">
	</video>
	{% endif %}
</div>
{% endblock %}	